@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html {
    font-family: "Poppins", sans-serif;
    height: 100%;
    background: #edf0ff;
}


:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
    --white: #a888b3;
  }

.container {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  .avatar {
    margin-top: 17px;
    width: 213px;
    height: 213px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: 2px solid var(--purple);
    border-radius: 50%;
  }
  
  .avatar img {
    width: 200px;
    height: 200px;
  
    border-radius: 50%;
  }

.hello {
    box-sizing: border-box;
    text-decoration: none;
    margin-right: 155px;
}

.text1 {
    padding-top: 16px;
    color: var(--purple);
    font-size: 23px;
    font-weight: 600;
  }


  .text2 {
    font-size: 30px;
    font-weight: 600;
  }

  .Modalsocial {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }

  .modalButton {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    width: 350px;
    height: 49px;
  
    border: 2px solid var(--purple);
    border-radius: 0.2rem;
  
    color: var(--purple);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 10px;
    padding: 16px;
  
    transform: scale(0.9);
    transition: ease 0.3s;
  }

  .modalButton:hover {
    color: var(--body-bg-color);
    cursor: pointer;
  
    background: var(--white);
    border: 2px solid var(--white);
    border-radius: 0.2rem;
  
    transform: scale(1);
    transition: ease 0.3s;
  }

  .redes {
    margin-top: 30px;
    margin-bottom: 5px;
  
    display: flex;
    gap: 50px;

}

.social {
    transform: scale(1);
    transition: ease 0.3s;
}

.social:hover {
    transform: scale(1.5);
  }
  